<div class="card" style="width: 300px;">
  <img class="w-100" [src]="vinyl.imageUrl"  alt="Album photo of {{vinyl.author.name}}">
  <div class="card-body">
    <div class="card-title">
      <h3>{{vinyl.songName}}<br><small>par {{vinyl.author.name}}</small></h3>
    </div>
    <div class="card-text">
      <h5 class="bold">{{vinyl.releaseDate | date: 'short'}}</h5>
    </div>
<!--    <app-counting-buttons *ngIf="isEditing"-->
<!--      [releaseDate]="vinyl.releaseDate"-->
<!--      (releaseDateChange)="onReleaseDateChange($event)"></app-counting-buttons>-->
    <div class="d-flex flex-column justify-content-center">
      <button [routerLink]="'vinyl/edit'" class="btn btn-primary mt-2">Modifier</button>
    </div>
  </div>
</div>
