<div class="row">
  <div class="col-6">
    <form (ngSubmit)="saveVinyl(vinylForm.value)" #vinylForm="ngForm">
      <div class="form-group">
        <label for="songName">SongName</label>
        <input type="text" id="songName" name="songName" ngModel required
               #songName="ngModel" class="form-control"/>
      </div>
      <div *ngIf="songName.dirty && songName.hasError('required')">
        Songname est requis
      </div>
      <div class="form-group">
        <label for="artist">Artiste</label>
        <input type="text" id="artist" name="artist" ngModel required
               #artist="ngModel" class="form-control"/>
      </div>
      <div *ngIf="artist.dirty && artist.hasError('required')">
        Artiste est requis
      </div>
      <button class="btn btn-primary" type="submit"
              [disabled]="vinylForm.invalid">Create vinyl</button>
    </form>
  </div>
</div>
