<div class="row">
  <div class="col-6">
    <form (ngSubmit)="addEmployee()" [formGroup]="employeeForm">
      <div class="form-group">
        <label for="salary">salary</label>
        <input type="text" id="salary" name="salary"
               class="form-control" formControlName="salary"/>
      </div>
      <div *ngIf="employeeForm.get('salary')!.dirty && employeeForm.get('salary')!.hasError('required')">
        salary est requis
      </div>
      <div class="form-group">
        <label for="uuid">uuid</label>
        <input type="text" id="uuid" name="uuid" class="form-control"
               formControlName="uuid"/>
      </div>
      <div>
        uuid est requis
      </div>
      <button [disabled]="employeeForm.invalid" class="btn btn-primary" type="submit">Create employee</button>
    </form>
  </div>
</div>
